# Node
node_modules/
npm-debug.log

# React build/cache
frontend/node_modules/
frontend/.cache/
frontend/build/

# Java
target/
*.jar
*.war

# Logs
*.log
backend/logs/

# Env
.env

# IDE
.idea/
.vscode/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db